<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Car List</h1>
<a href="addCar">Add a Car to the list :</a>
<br/><br/>

<div class="table100-head">
    <table>
        <thead>
        <tr class="row100 head">
            <th class="column1">N°</th>
            <th class="column2">Brand</th>
            <th class="column3">Type</th>
        </tr>
        <tr th:each ="car : ${cars}">
            <td th:utext="${car.id}">...</td>
            <td th:utext="${car.brand}">...</td>
            <td th:utext="${car.name}">...</td>
        </tr>
        </thead>
    </table>
</div>



</body>
</html>